.visualization {
    overflow: visible;
    position: absolute;
    z-index: 2;
}

#visualization {
    margin-left: 50px;
    margin-top: 50px;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#music_control {
    margin: 50px;
}

#export_control {
    margin-left: 50px;
}

.fixed {
    position: absolute;
    z-index: 2;
}

#labels {
    margin-left: 50px;
}